.container {
  position: fixed;
  left: 7.5%;
  top: 7.5%;
  width: 85%;
  height: 85%;
  z-index: 11;
  background-color: black;
  border-radius: 20px;
  border: 0.5px solid #424242;
  padding: 50px;

}