.header {
  font-size: 40px;
  width: 550px;
  text-align: left;
  margin-top: 30vh;
  color: white;
  font-family: "Overpass Mono", monospace;
  user-select: none;
  .welcome {
    font-size: 56px;
    font-weight: bold;
    color: #C9692D;
  }

  .typedHeader {
    min-height: 200px;
  }

  @media screen and (max-width: 959px) {
      font-size: 22px;
      width: auto;

    .welcome {
      font-size: 40px;
    }
    .typedHeader {
      min-height: 130px;
    }

    .downloadButton {
      scale: 0.8;
    }
  }
}


