.progressContainer {
  display: flex;
  flex-direction: column;
  width: 400px;

  .progressBarContainer {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;

    .skillName {
      color: #FFF;
      font-family: "Overpass Mono", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: absolute;
      bottom:23px;
    }


    .percentageIndicator {
      position: absolute;
      bottom: 35px;
      left: 0;
      font-weight: bold;
      color: #FFF;
      transition: left 3s ease;
    }
    
    .percentageText {
      position: absolute;
      top:16px;
      left:10px;
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .progressBar {
      width: 100%;
      background: #282828;
      box-shadow: 0 2px 4px 0 #000 inset;
      height: 20px;
      border-radius: 10px;
      overflow: hidden;
    }

    .progress {
      height: 100%;
      background-color: #C9692D;
      border-radius: 10px;
      line-height: 20px;
    }
  }
  .description {
    width: 100%;
    margin-top: 10px;
  }
}



