.container {
  height: 100%;
  width: 100%;

  .content {
    display: flex;
    gap: 50px;
    color: #FFFFFF;

    .skillsBlock {
      flex:98%;
      max-height: 75vh;
      padding: 0 50px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #C9692D;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #333;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      .skillsContainer {
        flex-wrap: wrap;
        gap: 10px;
        display: flex;

        .skillBox {
          display: flex;
          width: auto;
          padding: 10px 14px;
          justify-content: center;
          align-items: center;

          border-radius: 20px;
          background: #292929;

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .pageName {
        color: #C9692D;
        font-family: "Overpass Mono", monospace;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
      }
      .mainDescription {
        color: #FFF;
        max-width: 95%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .skillsProgressBars {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
      }

      .downloadButton {
        margin-top: 50px;
        margin-bottom: 30px;
      }


    }


    .closeButton {
      flex: 2%;
      display: flex;
      justify-content: flex-end;
      svg {
        cursor: pointer;
      }
    }
  }
}
